<app-header />
<main>
  <ul id="users">
    <!-- 'users' comes from the 'users' property on the app component's
    class that was initialized to be the DUMMY_USERS array. -->

    <!-- 'track user.id' is what Angular uses in place of the 'key'
    property that React uses to differentiate between html elements. -->
    @for (user of users; track user.id) {
    <li>
      <!-- $event is a special variable created by Angular for accessing
      data that has been emitted by events. In this case, it is accessing
      the id that is emitted from the custom event 'select' that was
      created in the user component. -->
      <app-user
        [selected]="user.id === selectedUserId"
        [user]="user"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p id="fallback">Select a user to see their tasks!</p>
  }
</main>
